<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
  integrity="sha384-..."
  crossorigin="anonymous"
/>

</head>
<body>
    <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-..."
  crossorigin="anonymous">
</script>
    <h1>Admin Dashboard</h1>
    <table border="1">
        <tr>
            <th>Group Number</th>
            <th>Total Points</th>
            <th>Answers Provided</th>
            <th>Completion Order</th>
        </tr>
        {% for group in groups %}
        <tr>
            <td>{{ group.group_number }}</td>
            <td>{{ group.total_points }}</td>
            <td>{{ group.answers_provided }}</td>
            <td>{{ group.completion_order|default:"N/A" }}</td>
        </tr>
        {% endfor %}
    </table>
    <!-- Chart Container -->
    <div class="mb-5">
        <canvas id="answersChart"></canvas>
    </div>
    <form action="{% url 'clear_data' %}" method="post">
        {% csrf_token %}
        <button type="submit">Clear All Data</button>
    </form>
</body>

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var chartData = {{ chart_data|safe }};
    var ctx = document.getElementById('answersChart').getContext('2d');
    var pointsChart = new Chart(ctx, {
        type: 'line',
        data: chartData,
        options: {
            responsive: true,
            interaction: {
                mode: 'index',
                intersect: false,
            },
            stacked: false,
            plugins: {
                title: {
                    display: true,
                    text: 'Raspunsuri'
                },
                tooltip: {
                    mode: 'index',
                    intersect: false,
                },
            },
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Time (HH:MM)'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Raspunsuri'
                    },
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}
</html>

